# +++++++++ Azure global  settings +++++++++ 
AZURE_TENANT_ID       = *****
AZURE_SUBSCRIPTION_ID = *****

# +++++++++ AI Foundry +++++++++
# - AI Foundry Basic projects (examples):
#   - AIF Basic Projects Resource (swedencentral): https://*****.openai.azure.com/ <API key authentication is disabled>
#     - AI Foundry Basic project#1 endpoint: https://*****.services.ai.azure.com/api/projects/aif1basswcprj01 # <API key authentication is disabled>
#     - AI Foundry Basic project#2 endpoint: https://*****.services.ai.azure.com/api/projects/aif1basswcprj02 # <API key authentication is disabled>
# - AI Foundry Standard projects:
#   - AIF Standard Projects Resource (westus): https://*****.openai.azure.com/ - *****
#   - AI Foundry Standard project#1 endpoint (westus): https://*****.services.ai.azure.com/api/projects/aif2stdwusprj01 (same key as the resource)
#   - AI Foundry Standard project#2 endpoint (westus): https://*****.services.ai.azure.com/api/projects/aif2stdwusprj02 (same key as the resource)
AIF_BAS_PROJECT_ENDPOINT = https://*****.services.ai.azure.com/api/projects/aif1basswcprj01
AIF_BAS_PROJECT_GROUP_NAME = aif1basrg
AIF_STD_PROJECT_ENDPOINT = https://*****.services.ai.azure.com/api/projects/aif2stdwusprj01
AIF_STD_PROJECT_GROUP_NAME = aif2stdrg
AIF_STD_PROJECT_KEY      = *****

# - AI HUB-BASED projects:
#   - AI Hub AI Foundry resource (swedencentral): https://*****.services.ai.azure.com/ - *****
#     - AI Hub Project: aihub01_project01
#       - HUB-BASED project#1 connection string: swedencentral.api.azureml.ms;<tenant_id>;aihub01_projects_rg;aihub01_project01
#     - AI Hub Project: aihub01_project02
#       - HUB-BASED project#2 connection string: swedencentral.api.azureml.ms;<tenant_id>;aihub01_projects_rg;aihub01_project02
AIHUB_PROJECTS_REGION      = swedencentral
AIHUB_RESOURCE_GROUP_NAME  = aihub01_rg
AIHUB_PROJECTS_GROUP_NAME  = aihub01_projects_rg
AIHUB_PROJECT_NAME         = aihub01_project01
AIHUB_PROJECT_CONNECTIONSTRING = swedencentral.api.azureml.ms;<tenant_id>;aihub01_projects_rg;aihub01_project01
AIHUB_AIFOUNDRY_ENDPOINT   = https://aihub01aiservices.services.ai.azure.com/
AIHUB_AIFOUNDRY_KEY        = *****


# +++++++++ SEMANTIC KERNEL FOR AZURE OPENAI +++++++++
GLOBAL_LLM_SERVICE = AzureOpenAI


# +++++++++ Pure OpenAI Settings +++++++++
# - OpenAI SWC - https://<tenant_id>.openai.azure.com/ <tenant_id>
# - OpenAI SCUS -https://<tenant_id>.openai.azure.com/ <tenant_id>
# - AI Foundry (Basic + Standard) + AIHUB Projects: please check above in the corresponding sections
AZURE_OPENAI_ENDPOINT = https://<tenant_id>.openai.azure.com/ 
AZURE_OPENAI_API_KEY = <tenant_id>


AZURE_OPENAI_CHAT_DEPLOYMENT_NAME = "gpt-4o" # "gpt-4.1" "gpt-4o" gpt-4o-for-apim, gpt-4o
MODEL_DEPLOYMENT_NAME = "gpt-4o"
MODEL_DEPLOYMENT_NAME_REASONING = "o1"
MODEL_DEPLOYMENT_NAME_MINI = "gpt-4o-mini"

AZURE_OPENAI_TEXT_DEPLOYMENT_NAME="gpt-35-turbo-instruct"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME = "text-embedding-ada-002"
AZURE_OPENAI_EMBEDDING_ADA2_DEPLOYMENT = "text-embedding-ada-002"
AZURE_OPENAI_EMBEDDING_3SMALL_DEPLOYMENT = "text-embedding-3-small"
AZURE_OPENAI_EMBEDDING_3LARGE_DEPLOYMENT = "text-embedding-3-large"

OPENAI_API_VERSION = "2025-04-01-preview"
AZURE_OPENAI_API_VERSION="2025-04-01-preview"
# "2025-04-01-preview" "2025-03-01-preview" "2025-02-01-preview" "2024-02-15-preview", like 2024-10-01-preview, 2025-02-01-preview

# SETTINGS FOR .NET
# - Azure OpenAI for .NET
AZUREOPENAISETTINGS__ENDPOINT = https://<tenant_id>.openai.azure.com/ 
AZUREOPENAISETTINGS__APIKEY = *****
AZUREOPENAISETTINGS__CHATMODELDEPLOYMENT = gpt-4o
AZUREOPENAISETTINGS__PROJECTENDPOINT = https://*****.services.ai.azure.com/api/projects/aif2stdwusprj01
OPENAISETTINGS__APIVERSION = 2025-04-01-preview

# - OpenAI settings for .NET
OPENAISETTINGS__APIKEY      = "<openai-apikey>"
OPENAISETTINGS__CHATMODEL   = "<openai-model>"
OPENAISETTINGS__APIVERSION  = "<openai-apiversion>"
OPENAISETTINGS__PROJECTENDPOINT  = "<openai-projectendpoint>"

STORAGE_QUEUE_SERVICE_ENDPOINT = "https://*****.queue.core.windows.net/"


PROJECT_CONNECTION_STRING = "swedencentral.api.azureml.ms;<tenant_id>;aihub01_projects_rg;aihub01_project01" 

STORAGE_SERVICE_ENDPOINT = "foo"

# +++++++++ BING GROUNDING TOOL FOR AI FOUNDRY PROJECTS +++++++++
BING_GROUNDING_CONNECTION_NAME = groundingwithbingsearch

BING_SUBSCRIPTION_KEY = "3c0c73f21b414ea69c0a87df8b401538"


apim_endpoint                  = https://*****.azure-api.net/balanced-azure-openai-service-api/
apim_subscription_key_basic    = *****
apim_subscription_key_standard = *****
apim_subscription_key_premium  = *****

apim_api_version               = "2024-05-01-preview" # never used


# Event Hubs Namespace
ehn_uri = https://*****.servicebus.windows.net/event_hub_01  
ehn_key_name = "send_policy"  
ehn_key = ***** 
ehn_connection_string = "Endpoint=sb://*****.servicebus.windows.net/;SharedAccessKeyName=send_policy;SharedAccessKey=*****"
ehn_consumer_group = "$Default"
ehn_eventhub_name = "event_hub_01"
ehn_sas_token = "SharedAccessSignature sr=https%3A%2F%2F*****.servicebus.windows.net%2Fevent_hub_01&sig=*****&se=*****&skn=send_policy"

ehn_storage_connection_string = "DefaultEndpointsProtocol=https;AccountName=*****;AccountKey=*****==;EndpointSuffix=core.windows.net"
   
direct_line_secret = *****
# direct_line_secret = *****

# Azure Functions
# - Powershell: $env:AzureWebJobsStorage="DefaultEndpointsProtocol=https;AccountName=*****;AccountKey=*****==;EndpointSuffix=core.windows.net"
#   - Remove-Item Env:\AzureWebJobsStorage --> $env:AzureWebJobsStorage="UseDevelopmentStorage=true"
# - Bash: export AzureWebJobsStorage="DefaultEndpointsProtocol=https;AccountName=*****;AccountKey=*****==;EndpointSuffix=core.windows.net"
#   - unset AzureWebJobsStorage --> export AzureWebJobsStorage="UseDevelopmentStorage=true"
